button#Button2
    {
     width: 70px;
     height: 25px;
     border-width: 0px;
     font-size: 14px;
     font-family: "宋体";
     font-style: normal;
     font-weight: normal;
     background-color:  #0065ea;
     color: #ffffff;
    }
    button#Button2:hover
    {
    	cursor: pointer;
    	width: 70px;
    	height: 25px;
     border-width: 0px;
     font-size: 14px;
     font-family: "宋体";
     font-style: normal;
     font-weight: normal;
    background-color: #ffffff;
    color: #000;
    }
    input#InPut1
    {
    	border-width: 1px;
    	border-style: solid;
    	width: 500px;
    	height: 28px;
    	border-color: rgb(180,180,180);
        padding-left: 5px;
    }
    input#InPut1:hover
    {
    	border-width: 1px;
    	border-style: solid;
    	width: 500px;
    	height: 28px;
    	border-color: rgb(115,115,115);
         padding-left: 5px;
    }
    button#Button1
    {
    	position: relative;
    	top: 2px;
    	left:-5px;
    	width: 100px;
    	height: 32px;
    	background-color: #006eff;
        font-size: 18px;
        font-family: "宋体";
        font-style: normal;
        color: rgb(255,255,255);
        border: 0px;

    }
     .div2{
    	width: 980px;
    	position: absolute;
    	left:50%;
    	top:100px;
        margin-left: -490px;
        text-align: center;
    	
    }
    button#Button1:hover
    {
        cursor: pointer;
    	width: 100px;
    	height: 32px; 
    	background-color: #0065ea;
        font-size: 18px;
        font-family: "宋体";
        font-style: normal;
        color: rgb(255,255,255);
        border:0px;
        
    }
    .div3
    {
    	width: 980px;
    	position: absolute;
    	top: 250px;
    	left:50%;
        margin-left: -490px;
        text-align: center;

    }
    .div4
    {
    	width: 980px;
     position:absolute;
     top: 565px;
     left:50%;
     margin-left: -490px;
     text-align: center;

    }
    .div4 p
    {
    	position:relative;
		font-size: 12px;
		font-family: "宋体";
		font-style: normal;
		font-weight: bold;
        color :rgb(115,115,115);
        right: 2px;
        bottom: 11px;
    }
    .div5
    {
    	width:980px;
    	margin: 5px;
		font-size: 13px;
		font-family: "宋体";
		font-style: normal;
		font-weight: normal;
        color:rgb(150,150,150);
        position: absolute;
        top: 670px;
        left: 50%;
        margin-left:-490px; 
        text-align: center;


    }
    .div5 a
    {
    	margin: 5px;
    	color: rgb(150,150,150);

    }
    .div5 a:hover
    {
        margin: 5px;
    	color: rgb(150,150,150);	
    }
    .div6
    {
        width: 980px;
    	margin: 10px;
		font-size: 13px;
		font-family: "宋体";
		font-style: normal;
		font-weight: normal;
        color:rgb(150,150,150);
        position: absolute;
        top: 680px;
        left: 50%;
        margin-left: -490px;
        text-align: center;
    }
    .div6 a
    {
    	color: rgb(150,150,150);

    }
    .div6 a:hover
    {

    	color: rgb(150,150,150);	
    }
    .div1
    {
      position: absolute;
      height: 10px;
      right: 20px
    }
    ul
    {
    	list-style:none;
    }
    ul li
    {
    	float: left;
    	padding: 0 10px;
    	text-align: center;
    	line-height: 30px;
     
    }
    .div1 a
    {
    	color: #000;
    	display: block;
    	font-size: 15px;
    	font-family: "宋体";
    	font-style: normal;
    	font-weight: bold;

    }
    .div1 a:hover
    {
     color: blue;
    }
.Menu1_li
{
	float: none;
	border-width: 1px;
	border-color: rgb(150,150,150);

}
.Menu1_li:hover
{
	background-color:#0065ea ;
	cursor: pointer;

}
.Menu2_li
{
	float: none;
} 
.Menu1_ul
{
	display: none;
}
ul li:hover .Menu1_ul{ 

	display: block;
}
.Menu2_ul
{	
	display: none;

}
ul li:hover .Menu2_ul{
	
	display:block;
}
.Menu2_li a
{
font-size: 13px;
font-family: "宋体";
font-weight: normal;
font-style: normal;
color: rgb(150,150,150);
text-decoration: none;
}
.Menu2_li a:hover 
{
font-size: 13px;
font-family: "宋体";
font-weight: normal;
font-style: normal;
color: rgb(150,150,150);
text-decoration:underline;
}
.Menu2_ul a
{
	font-size: 13px;
font-family: "宋体";
font-weight: normal;
font-style: normal;
color: rgb(150,150,150);
}
.Menu2_ul a:hover
{
	font-size: 13px;
font-family: "宋体";
font-weight: normal;
font-style: normal;
color: rgb(150,150,150);
}
#Image1
{
	position: relative;
	top: 12px;
	right: 142px;
	background-color: white;
}